[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
django = "*"
psycopg = "*"
psycopg2 = "*"
requests = "*"
pillow = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.12"
