.App {
  text-align: center;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.hoverable:hover {
  text-decoration: underline;
  cursor: pointer; /* Optionally change the cursor to a pointer on hover */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Second.css */

/* Define the style for the hover effect */
.hoverable1:hover {
  border-bottom: 2px solid black; /* Adjust the thickness and color as needed */
  cursor: pointer;
  padding-bottom: 0;
}

.textbox{
  outline: none;
  border: 2px solid #ccc;
}

.textbox:focus{
  border-color: brown;
}

/* App.css */
.image-container {
  display: flex;
}

.image-box {
  position: relative;
  overflow: hidden;
  animation: 'slideImage ' + imageDuration + 'ms infinite linear';

}

@keyframes slideImage {
  0%, 100% {
    transform: translateX(0);
  }
  25%, 75% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
}

.image-box img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease; /* Transition property for smooth image movement */
}

.text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8); /* Adjust the background color and opacity */
  padding: 8px;
}
/* App.css */
